body,html{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
body{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://images.pexels.com/photos/268533/pexels-photo-268533.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940%22%20alt=%22background");
}
.main{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info{
    top: 5%;
    position:absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.info-name{
    color: #fff;
    font-size: 50px;
    font-family: monospace;
}
.info-main{
    color: #fff;
    font-size: 30px;
    font-family: monospace;
    font-weight: 200;
}
.info-list{
    padding: 0;
}
.info-item{
    text-decoration: none;
    list-style: none;
}
.info-icon{
    padding: 20px 20px;
    font-size: 40px;
    color:rgba(238, 234, 234, 0.9);
}
.info-icon:hover{
    opacity: 0.3;
}
@media only screen and (max-width:1500px){
    body{
        background-position: center;
    }
}
